extends layout

block content
  h1 Welcome to #{title}
  form#flight-information(action='http://localhost:3000/flight' method='POST')
    label(for='flight-number') Flight Number
    input#flight-number(type='text' name='flightNumber' required='' placeholder="UA 247")
    label(for='departure-date') Departure Date
    input#departure-date(type='date' name='depDate' value='' min='2020-01-01' max='2025-12-31' required='')
    input#path-string(type='text' name='pathString' value='')
    button#submit-flight(type='submit') Look Up Flight
