extends layout

block content
  main#home
    h1 embark
    a#create-trip-btn(href='#') Create New Trip
    section#upcoming-trips.trip-section
      h2 Upcoming Trips
      article.trip
        h3 Boba Trip!
        h4 Taiwan
        h4 June 8, 2020 - June 15, 2020
      section.overlay
        section.overlay-card
          h3 Boba Trip!
          h4 Taiwan
          h4 June 8, 2020 - June 15, 2020
          article
            h3 Accomodations
            ul
              li Accomodation Name
              li Address
              li Check-in
              li Check-out
              li Notes
          article
            h3 Transportation
            ul
              li Mode
              li Flight #
              li Departure Date
              li Arrival Date
              li Notes
    section#past-trips.trip-section
      h2 Past Trips
      article.trip
        h3 Trip Name
        h4 Destination
        h4 Date
