extends layout

block content
  main#login
    section#welcome-card
      h1
        | let us
        span#embark-title embark
        | with you
      p
        | It&apos;s funny because no one can travel right now, but when this is all over, I bet you can use this!
      form#login-btn(action='auth/google' method='get')
        img(src='/img/g-logo.png' alt='Google logo')
        input(type='submit' name='Sign In' value='Sign In with Google')
    
