extends layout

block content
  h1 Hello World!
  p This is the #{page_name} page
  form(action='/auth/google' method='get')
    input(type='submit' value='Log In with Google') 
  script(type='text/javascript' src='/js/script.js')
